$primary-blue: #5badf0;
$alternate-blue: #3f86ed;
$primary-cyan: #3dc0b0;
$primary-pink: #d23669;
$primary-orange: #fd691f;
$border-grey: #eee;

$text-black: #333;
$text-dark-grey: #666;

$colorPrimary: $primary-blue;
$colorAlternate: $alternate-blue;
$textPrimary: $text-black;
$textAlternate: $text-dark-grey;
$highlightBG: $alternate-blue;
$borderGrey: $border-grey;
$anchorPrimary: $primary-blue;

// variables
$headerHeight: 8rem;
$footerHeight: 3rem;
